In [29]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [30]:
df = pd.read_csv('/Users/home/DEV/scaler/python/public/india-votes-data/2024AC-MH.csv')
df

,election_year,election_type,election_state,constituency,serial_no,candidate,party,evm_votes,postal_votes
0,2024,AC,MH,AKKALKUWA,1,AMSHYA FULJI PADVI,Shiv Sena,72411,218
1,2024,AC,MH,AKKALKUWA,2,ADV K C PADAVI,Indian National Congress,69122,603
2,2024,AC,MH,AKKALKUWA,3,PADMAKAR VIJAYSING VALVI,Bharat Adivasi Party,8640,192
3,2024,AC,MH,AKKALKUWA,4,ENG. JELSING BIJALA PAWARA,Independent,2895,16
4,2024,AC,MH,AKKALKUWA,5,SARYA DHARMA PADVI,Independent,1466,7
...,...,...,...,...,...,...,...,...,...
4419,2024,AC,MH,JAT,8,BHIMGONDA RAMGONDA BIRADAR,Independent,87,1
4420,2024,AC,MH,JAT,9,MAHADEV MURGYAPPA HUCHGOND,Independent,205,5
4421,2024,AC,MH,JAT,10,MAHADEO MEGHU PAWAR,Independent,339,2
4422,2024,AC,MH,JAT,11,LAXMAN GUNDA PUJARI,Independent,294,3
4423,2024,AC,MH,JAT,12,NOTA,None of the Above,1012,7

In [31]:
df['total_votes'] = df['evm_votes'] + df['postal_votes']
df

,election_year,election_type,election_state,constituency,serial_no,candidate,party,evm_votes,postal_votes,total_votes
0,2024,AC,MH,AKKALKUWA,1,AMSHYA FULJI PADVI,Shiv Sena,72411,218,72629
1,2024,AC,MH,AKKALKUWA,2,ADV K C PADAVI,Indian National Congress,69122,603,69725
2,2024,AC,MH,AKKALKUWA,3,PADMAKAR VIJAYSING VALVI,Bharat Adivasi Party,8640,192,8832
3,2024,AC,MH,AKKALKUWA,4,ENG. JELSING BIJALA PAWARA,Independent,2895,16,2911
4,2024,AC,MH,AKKALKUWA,5,SARYA DHARMA PADVI,Independent,1466,7,1473
...,...,...,...,...,...,...,...,...,...,...
4419,2024,AC,MH,JAT,8,BHIMGONDA RAMGONDA BIRADAR,Independent,87,1,88
4420,2024,AC,MH,JAT,9,MAHADEV MURGYAPPA HUCHGOND,Independent,205,5,210
4421,2024,AC,MH,JAT,10,MAHADEO MEGHU PAWAR,Independent,339,2,341
4422,2024,AC,MH,JAT,11,LAXMAN GUNDA PUJARI,Independent,294,3,297
4423,2024,AC,MH,JAT,12,NOTA,None of the Above,1012,7,1019

In [32]:
df.groupby('constituency')['total_votes'].sum().sort_values(ascending=False).head(25)

constituency
CHINCHWAD           388884
PANVEL              383964
BHOSARI             375404
NALASOPARA          350142
KHADAKWASALA        326667
KAMTHI              322678
SHIRUR              321088
MURBAD              318862
HADAPSAR            317477
GANGAKHED           311315
KALYAN RURAL        296039
JINTUR              294442
BHOR                292547
DHULE RURAL         289425
SILLOD              289312
KAGAL               286816
ASHTI               286784
OVALA - MAJIWADA    285554
PURANDAR            284628
KOLHAPUR SOUTH      284301
VADGAON SHERI       284009
PATHRI              281445
MAVAL               279081
KARVIR              278799
GEORAI              278281
Name: total_votes, dtype: int64

In [33]:
df.drop(['election_year', 'election_type'], axis=1, inplace=True)
df

,election_state,constituency,serial_no,candidate,party,evm_votes,postal_votes,total_votes
0,MH,AKKALKUWA,1,AMSHYA FULJI PADVI,Shiv Sena,72411,218,72629
1,MH,AKKALKUWA,2,ADV K C PADAVI,Indian National Congress,69122,603,69725
2,MH,AKKALKUWA,3,PADMAKAR VIJAYSING VALVI,Bharat Adivasi Party,8640,192,8832
3,MH,AKKALKUWA,4,ENG. JELSING BIJALA PAWARA,Independent,2895,16,2911
4,MH,AKKALKUWA,5,SARYA DHARMA PADVI,Independent,1466,7,1473
...,...,...,...,...,...,...,...,...
4419,MH,JAT,8,BHIMGONDA RAMGONDA BIRADAR,Independent,87,1,88
4420,MH,JAT,9,MAHADEV MURGYAPPA HUCHGOND,Independent,205,5,210
4421,MH,JAT,10,MAHADEO MEGHU PAWAR,Independent,339,2,341
4422,MH,JAT,11,LAXMAN GUNDA PUJARI,Independent,294,3,297
4423,MH,JAT,12,NOTA,None of the Above,1012,7,1019

In [34]:
df[['constituency', 'candidate', 'party', 'total_votes']].sort_values(by='total_votes', ascending=False).groupby('constituency').agg(list)

,candidate,party,total_votes
constituency,,,
ACHALPUR,"[PRAVIN VASANTRAO TAYADE, BACCHU B. KADU, ANIR...","[Bharatiya Janata Party, Prahar Janshakti Part...","[78201, 66070, 62791, 560, 558, 543, 495, 456,..."
AHERI,"[ATRAM DHARAMRAOBABA BHAGWANTRAO, RAJE AMBRISH...","[Nationalist Congress Party, Independent, Nati...","[54206, 37392, 35765, 27188, 6606, 5825, 5648,..."
AHMADPUR,"[BABASAHEB MOHANRAO PATIL, JADHAV PATIL VINAYA...","[Nationalist Congress Party, Nationalist Congr...","[96905, 65236, 62447, 3917, 3019, 2597, 1132, ..."
AHMEDNAGAR CITY,"[SANGRAM ARUNKAKA JAGTAP, ABHISHEK BALASAHEB K...","[Nationalist Congress Party, Nationalist Congr...","[118636, 79018, 1601, 1145, 936, 590, 468, 366..."
AIROLI,"[GANESH RAMCHANDRA NAIK, CHOUGULE VIJAY LAXMAN...","[Bharatiya Janata Party, Independent, Shiv Sen...","[144261, 52381, 38576, 8861, 6908, 6411, 2708,..."
...,...,...,...
WARORA,"[KARAN SANJAY DEOTALE, MUKESH MANOJ JIWTODE, K...","[Bharatiya Janata Party, Independent, Indian N...","[65170, 49720, 25048, 20723, 13482, 9123, 5151..."
WASHIM,"[SHYAM RAMCHARAN KHODE, SIDDHARTH AKARAMJI DEO...","[Bharatiya Janata Party, Shiv Sena (Uddhav Bal...","[122914, 103040, 9264, 1517, 1184, 783, 780, 7..."
WORLI,"[ADITYA UDDHAV THACKERAY, MILIND MURLI DEORA, ...","[Shiv Sena (Uddhav Balasaheb Thackeray), Shiv ...","[63324, 54523, 19367, 2885, 1562, 730, 309, 21..."
YAVATMAL,"[ANIL ALIAS BALASAHEB SHANKARRAO MANGULKAR, MA...","[Indian National Congress, Bharatiya Janata Pa...","[117504, 106123, 5432, 2425, 2139, 991, 852, 8..."
YEVLA,"[CHHAGAN BHUJBAL, ADV. MANIKRAO MADHAVRAO SHIN...","[Nationalist Congress Party, Nationalist Congr...","[135023, 108623, 2115, 1478, 730, 611, 487, 30..."

In [35]:
sc = pd.read_csv('states.csv')
sc.rename(columns={'code': 'election_state'}, inplace=True)

sc

,election_state,name,type,population,region,districts,assembly_seats,parliamentary_seats
0,AN,Andaman and Nicobar Islands,UT,380581,South,3,0,1
1,AP,Andhra Pradesh,State,49577103,South,26,175,25
2,AR,Arunachal Pradesh,State,1383727,Northeast,25,60,2
3,AS,Assam,State,31205576,Northeast,35,126,14
4,BR,Bihar,State,104099452,East,38,243,40
5,CH,Chandigarh,UT,1055450,Northwest,1,0,1
6,CT,Chhattisgarh,State,25545198,Central,33,90,11
7,DN,Dadra and Nagar Haveli and Daman and Diu,UT,586956,West,3,0,2
8,DL,Delhi,UT,16787941,Northwest,11,70,7
9,GA,Goa,State,1540000,West,2,40,2
10,GJ,Gujarat,State,60439692,West,33,182,26
11,HR,Haryana,State,25351462,Northwest,22,90,10
12,HP,Himachal Pradesh,State,6864602,North,12,68,4
13,JK,Jammu and Kashmir,UT,12267032,North,20,90,5
14,JH,Jharkhand,State,32988134,East,24,81,14
15,KA,Karnataka,State,61095297,South,31,224,28
16,KL,Kerala,State,33406061,South,14,140,20
17,LA,Ladakh,UT,274289,North,2,0,1
18,MP,Madhya Pradesh,State,72626809,Central,52,230,29
19,MH,Maharashtra,State,112374333,West,36,288,48
20,MN,Manipur,State,2855794,Northeast,16,60,2
21,ML,Meghalaya,State,2966889,Northeast,11,60,2
22,MZ,Mizoram,State,1097206,Northeast,11,40,1
23,NL,Nagaland,State,1978502,Northeast,12,60,1
24,OR,Odisha,State,41974218,East,30,147,21
25,PY,Puducherry,UT,1247953,South,4,30,1
26,PB,Punjab,State,27743338,Northwest,22,117,13
27,RJ,Rajasthan,State,68548437,Northwest,33,200,25
28,SK,Sikkim,State,610577,Northeast,4,32,1
29,TN,Tamil Nadu,State,72147030,South,38,234,39
30,TG,Telangana,State,35003674,South,33,119,17
31,TR,Tripura,State,3673917,Northeast,8,60,2
32,UP,Uttar Pradesh,State,199812341,North,75,403,80
33,UK,Uttarakhand,State,10086292,North,13,70,5
34,WB,West Bengal,State,91276115,East,23,294,42

In [36]:
dfs = pd.concat([pd.read_csv('2024AC-HR.csv'), 
                 pd.read_csv('2024AC-JH.csv'), 
                 pd.read_csv('2024AC-JK.csv'), 
                 pd.read_csv('2024AC-MH.csv')], ignore_index=True)
dfs = dfs.merge(sc, on='election_state', how='left')
dfs

,election_year,election_type,election_state,constituency,serial_no,candidate,party,evm_votes,postal_votes,name,type,population,region,districts,assembly_seats,parliamentary_seats
0,2024,AC,HR,KALKA,1,OM PARKASH GUJJAR,Aam Aadmi Party,854,4,Haryana,State,25351462,Northwest,22,90,10
1,2024,AC,HR,KALKA,2,CHARAN SINGH,Bahujan Samaj Party,1368,6,Haryana,State,25351462,Northwest,22,90,10
2,2024,AC,HR,KALKA,3,PARDEEP CHAUDHARY,Indian National Congress,49544,185,Haryana,State,25351462,Northwest,22,90,10
3,2024,AC,HR,KALKA,4,SHAKTI RANI SHARMA,Bharatiya Janata Party,60497,115,Haryana,State,25351462,Northwest,22,90,10
4,2024,AC,HR,KALKA,5,AMIT SHARMA,Independent,582,0,Haryana,State,25351462,Northwest,22,90,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7795,2024,AC,MH,JAT,8,BHIMGONDA RAMGONDA BIRADAR,Independent,87,1,Maharashtra,State,112374333,West,36,288,48
7796,2024,AC,MH,JAT,9,MAHADEV MURGYAPPA HUCHGOND,Independent,205,5,Maharashtra,State,112374333,West,36,288,48
7797,2024,AC,MH,JAT,10,MAHADEO MEGHU PAWAR,Independent,339,2,Maharashtra,State,112374333,West,36,288,48
7798,2024,AC,MH,JAT,11,LAXMAN GUNDA PUJARI,Independent,294,3,Maharashtra,State,112374333,West,36,288,48
7799,2024,AC,MH,JAT,12,NOTA,None of the Above,1012,7,Maharashtra,State,112374333,West,36,288,48

In [43]:
dfs['total_votes'] = dfs['evm_votes'] + dfs['postal_votes']
dfs.groupby('party')['total_votes'].sum().sort_values(ascending=False).head(10)

party
Bharatiya Janata Party                              30226149
Indian National Congress                            16910994
Independent                                          8148273
Shiv Sena                                            7997656
Nationalist Congress Party – Sharadchandra Pawar     7292015
Shiv Sena (Uddhav Balasaheb Thackeray)               6435893
Nationalist Congress Party                           5836929
Jharkhand Mukti Morcha                               4183281
Vanchit Bahujan Aaghadi                              1413961
Jammu & Kashmir National Conference                  1336147
Name: total_votes, dtype: int64